.contact-form{
    margin-top: 30px;

    .contact-form-input{
        display: inline-block;
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
        padding: 18px 22px;
        font-size: 18px;

        &::placeholder{
            color: #9E9E9E;
        }
    }

    textarea.contact-form-input{
        min-height: 160px;
    }

    .contact-form-checkbox-input{
        display: none;

        &:checked + .contact-form-checkbox-label:after{
            opacity: 1;
            transform: scale(1);
        }
    }

    .contact-form-checkbox-label{
        position: relative;
        color:#ADABAB;
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        padding-left: 50px;
        padding-bottom: 20px;
        margin-top: 5px;   
        
        &:before{
            position: absolute;
            content: "";
            left: 0;
            top:-2px;
            width: 35px;
            height: 35px;
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
        }

        &:after{
            position: absolute;
            left: 11px;
            top: 9px;
            font-family:'Font Awesome 5 Free';
            content:"\f00c";
            color: #EA2626;
            opacity: 0;
            transform: scale(0.5);
            transition: all .3s, transform .3s;
        }
    }
}