.footer{
    background: #EEF1F2;
    color:rgba(0,0,0, 0.25);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1px 0; 
    text-align: center;
}