.dark-content{
    color: #fff;

    h1, h2, h3, h4, h6,p{
        color: #fff;
    }
    p{
        line-height: 1.6;
        margin: 20px 0;
    }
}

.bg-primary{
    background: linear-gradient(105.63deg, #EA2626 -21.04%, #0029FF 147.44%);
}