.jumbotron{
    background: url('../img/hero-unit-background-desktop.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 50px 0;
    
    .lead{
        color: #9ACFF6;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2.4px;
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 576px){
    .jumbotron{
        text-align: center;
        background: url('../img/hero-unit-background-mobile.jpg');
        background-size: cover;
        background-position: center;
        
        .jumbotron-title{
            font-size: 40px;
        }
        .lead{
            font-size: 14px;
        }
    }
}