.portifolio-cards{
    margin-top: 60px;

    .portifolio-card{
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        overflow: hidden;
        
        .portifolio-card-image{
            height: 200px;
            background-size: cover;
            background-position: center;
        }
        .portifolio-card-info{
            padding: 25px 5px;

            .portifolio-card-title{
                display: block;
                font-size: 20px;
                letter-spacing: -1px;
                margin-bottom: 5px;
                font-weight: 600;

            }
            .portifolio-card-credits{
                display: block;
                color: #A7A7A7;
                font-size: 14px;
                letter-spacing: 1px;;
                text-transform: uppercase;
                font-weight: 600;

            }
        }
    }
}

@media only screen and (max-width: 576px){

    .portifolio-cards{
        margin-bottom: 60px;
    
        .portifolio-card{
            margin-bottom: 25px;
        }
    }    
}