html, body {
  font-family: 'Open Sans', sans-serif;
  color: #423D3F; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #0B3757; }
  html h1, body h1 {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -3px; }
  html h2, body h2 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.5px; }
  html p, body p {
    line-height: 1.6;
    margin: 20px 0; }
  html a, body a {
    color: #9ACFF6;
    text-decoration: underline; }
    html a:hover, html a:active, html a:focus, body a:hover, body a:active, body a:focus {
      color: #54aef0; }

.dark-content {
  color: #fff; }
  .dark-content h1, .dark-content h2, .dark-content h3, .dark-content h4, .dark-content h6, .dark-content p {
    color: #fff; }
  .dark-content p {
    line-height: 1.6;
    margin: 20px 0; }

.bg-primary {
  background: -webkit-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
  background: -o-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
  background: linear-gradient(105.63deg, #EA2626 -21.04%, #0029FF 147.44%); }

.navbar #dropMenu a {
  text-decoration: none; }

.jumbotron {
  background: url("../img/hero-unit-background-desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 50px 0; }
  .jumbotron .lead {
    color: #9ACFF6;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2.4px;
    margin-bottom: 45px; }

@media only screen and (max-width: 576px) {
  .jumbotron {
    text-align: center;
    background: url("../img/hero-unit-background-mobile.jpg");
    background-size: cover;
    background-position: center; }
    .jumbotron .jumbotron-title {
      font-size: 40px; }
    .jumbotron .lead {
      font-size: 14px; } }

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 15px 23px; }
  .btn.btn-primary {
    background: -webkit-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
    background: -o-linear-gradient(344.37deg, #EA2626 -21.04%, #0029FF 147.44%);
    background: linear-gradient(105.63deg, #EA2626 -21.04%, #0029FF 147.44%); }

.content-section {
  padding: 80px 0; }
  .content-section.content-section-centered {
    text-align: center; }
  .content-section.dark-content {
    background: #303B48; }
  .content-section.content-section-side-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0; }
    .content-section.content-section-side-image .content-section-side-image-content {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 50px 0; }
    .content-section.content-section-side-image .content-section-side-image-container {
      width: 250px;
      min-height: 500px;
      background-size: cover;
      background-position: center; }

@media only screen and (max-width: 576px) {
  .content-section.content-section-side-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .content-section.content-section-side-image .content-section-side-image-container {
      min-height: 120px;
      width: 100%; }
    .content-section.content-section-side-image .content-section-side-image-heading {
      text-align: center; } }

.portifolio-cards {
  margin-top: 60px; }
  .portifolio-cards .portifolio-card {
    background: #fff;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    overflow: hidden; }
    .portifolio-cards .portifolio-card .portifolio-card-image {
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portifolio-cards .portifolio-card .portifolio-card-info {
      padding: 25px 5px; }
      .portifolio-cards .portifolio-card .portifolio-card-info .portifolio-card-title {
        display: block;
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 5px;
        font-weight: 600; }
      .portifolio-cards .portifolio-card .portifolio-card-info .portifolio-card-credits {
        display: block;
        color: #A7A7A7;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600; }

@media only screen and (max-width: 576px) {
  .portifolio-cards {
    margin-bottom: 60px; }
    .portifolio-cards .portifolio-card {
      margin-bottom: 25px; } }

.contact-form {
  margin-top: 30px; }
  .contact-form .contact-form-input {
    display: inline-block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    padding: 18px 22px;
    font-size: 18px; }
    .contact-form .contact-form-input::-webkit-input-placeholder {
      color: #9E9E9E; }
    .contact-form .contact-form-input:-ms-input-placeholder {
      color: #9E9E9E; }
    .contact-form .contact-form-input::-ms-input-placeholder {
      color: #9E9E9E; }
    .contact-form .contact-form-input::placeholder {
      color: #9E9E9E; }
  .contact-form textarea.contact-form-input {
    min-height: 160px; }
  .contact-form .contact-form-checkbox-input {
    display: none; }
    .contact-form .contact-form-checkbox-input:checked + .contact-form-checkbox-label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .contact-form .contact-form-checkbox-label {
    position: relative;
    color: #ADABAB;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-top: 5px; }
    .contact-form .contact-form-checkbox-label:before {
      position: absolute;
      content: "";
      left: 0;
      top: -2px;
      width: 35px;
      height: 35px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.15); }
    .contact-form .contact-form-checkbox-label:after {
      position: absolute;
      left: 11px;
      top: 9px;
      font-family: 'Font Awesome 5 Free';
      content: "\f00c";
      color: #EA2626;
      opacity: 0;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      -webkit-transition: all .3s, -webkit-transform .3s;
      transition: all .3s, -webkit-transform .3s;
      -o-transition: all .3s, transform .3s;
      transition: all .3s, transform .3s;
      transition: all .3s, transform .3s, -webkit-transform .3s; }

.footer {
  background: #EEF1F2;
  color: rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px 0;
  text-align: center; }

.skillsets .skillset {
  margin-top: 20px;
  margin-bottom: 10px; }
  .skillsets .skillset .skillset-heading {
    text-transform: uppercase;
    color: #797979;
    letter-spacing: 16px;
    font-weight: 700;
    margin-bottom: 5px; }
